[submodule "crates/gaia"]
	path = crates/gaia
	url = https://github.com/ryancinsight/gaia.git
[submodule "crates/apollo"]
	path = crates/apollo
	url = https://github.com/ryancinsight/apollofft.git
	branch = main
